<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kalixsmurf">
    <title>Github user information search</title>
</head>
<body>
    <h1>Github user search</h1>
    <p>Username:</p>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Please enter username" required maxlength="100">
        <p><input type="submit"></p>
    </form>
</body>
</html>